{% extends "base_page.html" %}

{% block page-title %}
<p align="center" style="font-family:'Komi'; font-size:80%">Исторические<br> справки</p>
{% endblock %}

{% block page-lead %}
<br><br><br><br><p align="center" style="font-family:'Gabriola'; font-size:170%"><b>Здесь приведена краткая информация о некоторых древних цивилизациях Мексики и их языках.</b></p>
{% endblock %}
{% load static %}
{% block content %}
<div class="py-2" style="position:absolute; padding-left:20px; font-family:'Gabriola'; font-size:150%">
Цивилизация, которую в современной массовой культуре принято называть <i><b>ацтекской</b></i>, появилась в центральной Мексике в XIII в. Она была основана 
народом индейцев-кочевников, называвших себя "мешика" ("находящиеся в центре мира") и прибывших на территорию современного Мехико с севера. В 1256 году мешики
остановились на скале, стоящей у берега озера Тескоко (ныне осушенное озеро, находящееся на месте г. Мехико). Но к их приходу туда все окрестные земли 
давно были поделены между прибрежными городами-государствами. Поэтому им пришлось признать власть государства Аскапоцалько (букв. "место на муравейнике") над собой,
и в течение следующих нескольких десятилетий они платили ему дань, сами поселившись на единственном месте, где им разрешили жить - маленьком острове посреди озера. Окрестные
цивилизованные народы считали мешиков дикарями-варварами, но те решили учиться. И они взяли все знания, какие только могли, от других цивилизаций. Это позволило им
в 1428 г., объединив усилия с соседними городами-государствами Тескоко и Тлакопаном, свергнуть владычество Аскапоцалько и основать на основе этого союза государство,
называемое в историографии Ацтекской империей. Примерно с того же периода начинается возвышение столицы империи - Теночтитлана, города, стоявшего на месте современного
Мехико (собственно, это слово происходит от искажённого "мешико", то есть, "центр мира"). На пике своего могущества империя контролировала обширные территории от
Тампико (сейчас - штат Тамаулипас) на севере до Шоконочко (ныне - граница с Никарагуа) на юге. В Теночтитлан свозилась дань из нескольких десятков покорённых
провинций, город рос и богател с каждым годом. Разные историки по-разному оценивают численность населения города, но, когда жители его подняли уже позже
восстание против испанцев, они выставили армию в 100-200 тысяч человек одних только взрослых мужчин. Это означает, что в начале XVI в. Теночтитлан
был самым большим городом на Земле. Империя просуществовала до 1521 года, когда была покорена экспедицией испанского конкистадора Эрнана Кортеса.<br>
Мешики говорили (и говорят до сих пор) на языке, называемом "науатлатолли" (то есть, "понятная речь"), или коротко - науатль.
Из этого языка пришли такие слова, как авокадо, какао, чили (название перца — не имеет общего с названием страны Чили), койот, пейот,
мескаль, оцелот, кетцаль (название птицы и монеты), томат, шоколад (изначально — «ауакатль», «койотль», «шитоматль», «шоколатль»), аксолотль и т.д. Интересная
особенность этого языка заключается в том, что он изобилует описательными оборотами. Иными словами, некое сложное слово заменяется описанием из слов более простых.
Например, слово "сиуаконетль" (дочь) буквально означает "женщина-ребёнок", а слово "альтепетль" (город) буквально значит "вода-гора", то есть, "место рядом с
водой и горами".<br><br><br>

Что же касается цивилизации <i><b>майя</b></i>, её история намного более древняя. Формирование её началось ещё за 2000 лет до н.э. Расселялись майя с территории
современного Белиза, где находились города Ламанай ("город утонувшего крокодила") и Кахаль Печ ("место клещей"). За следующую тысячу лет эти индейцы достигли
территории современной Гватемалы, где основали город Тикаль ("место, где слышны голоса духов"), а также побережья Мексиканского залива. В целом, майя почти никогда
не объединялись в одну империю, вместо того имея большое количество городов-государств, во многом напоминающих древнеегипетские номы и греческие
полисы. Свою знаменитую письменность майя изобрели примерно в 700 г.н.э., более чем через полторы тысячи лет после начала своей цивилизованной истории. Ещё через 1100 лет они создали первое ныне известное
изображение солнечного календаря, а также окончательно закрепили у себя иерархическое общество, управляемое царями и лицами царской крови. На пик своего могущества
города майя вышли в т.н. классический период, продолжавшийся с 250 до 900 г.н.э. В них развивались астрономия, искусство, архитектура, математика. Календарь,
разработанный в ту эпоху, использовался позже и другими цивилизациями древней Мексики (например, теми же мешиками). С XI по XV вв. существовала т.н. Майяпанская лига -
государство, которое, как и Ацтекская империя, возникло из союза трёх городов: Чичен-Ицы, Ушмаля и Майяпана. В конце XII вв. лига контролировала весь полуостров
Юкатан и некоторые сопредельные земли. В тот момент его можно было бы назвать "империей майя". Она просуществовала практически до самого прихода испанцев, находясь,
однако, к XVI в. в глубоком упадке. Угасание цивилизации майя продолжалось несколько столетий, начавшись с IX в, когда были покинуты первые города южного Юкатана.
На севере же полуострова государственность продержалась намного дольше, практически ещё следующие 500 лет. Причины упадка этой цивилизации до сих пор являются
дискуссионными. Одна из самых известных гипотез гласит, что одной из главных причин послужило изменение климата: водоснабжение городов во многом зависело от дождей,
поэтому засуха, начавшаяся в IX в. на юге Юкатана, повлекла за собой масштабные неурожаи, вынудившие людей оставить старые города.<br>
Майя говорили на языках группы майя-киче, многие из которых живы до сих пор. Например, юкатекский (он же просто "майя"), киче, кекчи. В противовес науатлю, 
эти языки примечательны короткими словами и морфемами, а также большим количеством приставок и суффиксов. В частности, фраза "я тебя вижу" на науатле будет звучать
как nimitzquitta, а на юкатекском - как k-in w-il-ik-ech. Однако классические тексты майя, где использовалась их знаменитая письменность, были написаны на ныне
мёртвом языке чольти, служившим когда-то лингва-франка почти всей цивилизации майя. Лишь меньшая часть таких текстов написана на ныне живых языках, например, юкатекском.<br><br><br>

В XIII в. в центральной Мексике, к западу от империи ацтеков, на берегах озера Пацкуаро народом пурепеча было основано государство <i><b>тарасков</b></i>. Столицей этой страны был город
Цинцунцан ("место колибри"), стоящий на берегу того же озера. Народы науа называли эти земли "Мичоакан" ("место тех, у кого есть рыба"). Согласно местной легенде,
вождь-пророк народа пурепеча по имени Тариакури решил объединить общины, проживавшие на берегах Пацкуаро, в единое сильное государство. Около 1300 года он предпринял
первый завоевательный поход и назначил своих сыновей Ирипана и Тангашуана правителями городов Иуатцио и Цинцунцана соответственно, а сам правил в городе Пацкуари.
После смерти Тариакури (около 1350), его династия контролировала все крупные центры вокруг озера. В 1460 г. государство достигло побережья Тихого океана в районе
нынешнего города Сакатула, а на севере его границы находились в современном штате Гуанахуато. И всего через 10 лет на страну тарасков напали ацтеки, возглавляемые
императором Ашаякатлем. Они захватили ряд приграничных городов Мичоакана и уже приблизились к его столице, но всё-таки были разгромлены. В последующие годы
мешики многократно пытались покорить тарасков, но безуспешно. Они так и остались независимыми до прихода испанцев в 1522 г. Армия пурепеча насчитывала многие тысячи
воинов, возможно, около 100, но в критический момент отказалась от борьбы. Последний суверенный правитель тарасков Тангашуан II добровольно подчинился испанской
администрации, за что получил довольно широкую автономию.<br>
Пурепеча говорят на одноимённом языке, который считается изолятом, родственники его на данный момент не обнаружены. В нём, так же, как и в языках майя, широко
развита система суффиксов (около 160) и клитик. Как и в русском, в нём 6 падежей (именительный, родительный, винительный, творительный, местный, а также комитатив).
</div>
<img src="{% static 'symbols_long.png' %}" class="img-responsive" width="1330">
{% endblock %}
